body {
  
//background-image: url("DSGD63_30Day_3 copy.jpg");
  
}

h1 {
  margin: auto;
  background-color: black;
  color: lightblue;
  text-align: center;
  font-size: 300%;
}

p {
  
  background-color: white;
  color: black;
  font-family: verdana;
  font-size: 20px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}